
<h1>Listing locations</h1>
<table>
  <thead>
    <tr>
      <th>Drifter Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Time</th>
      <th>Valid</th>
      <th>Gps speed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.drifter_name %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.time %></td>
        <td><%= location.valid_input %></td>
        <td><%= location.gps_speed %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
