<div id="map">
	
	<script>
			var map = L.map('map').setView([38.2392497336007, -121.517373829461], 13);

			L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
				maxZoom: 18,
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
					'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery © <a href="http://mapbox.com">Mapbox</a>',
				id: 'luckyx1.i5hk2d1n'
			}).addTo(map);
			 var adjust = L.AwesomeMarkers.icon({
			    icon: 'fa-adjust',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var asterisk = L.AwesomeMarkers.icon({
			    icon: 'fa-asterisk',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var down = L.AwesomeMarkers.icon({
			    icon: 'fa-hand-o-down',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var archive = L.AwesomeMarkers.icon({
			    icon: 'fa-archive',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var circle = L.AwesomeMarkers.icon({
			    icon: 'fa-circle',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var cloud = L.AwesomeMarkers.icon({
			    icon: 'fa-cloud',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var certificate = L.AwesomeMarkers.icon({
			    icon: 'fa-certificate',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var fighter_jet = L.AwesomeMarkers.icon({
			    icon: 'fa-fighter-jet',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var coffee = L.AwesomeMarkers.icon({
			    icon: 'fa-coffee',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var cog = L.AwesomeMarkers.icon({
			    icon: 'fa-cog',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var bug = L.AwesomeMarkers.icon({
			    icon: 'fa-bug',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var beer = L.AwesomeMarkers.icon({
			    icon: 'fa-beer',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var arrow = L.AwesomeMarkers.icon({
			    icon: 'fa-arrow-circle-o-right',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var dot = L.AwesomeMarkers.icon({
			    icon: 'fa-dot-circle-o',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var plus = L.AwesomeMarkers.icon({
			    icon: 'fa-plus-circle',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var rocket = L.AwesomeMarkers.icon({
			    icon: 'fa-rocket',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var smile = L.AwesomeMarkers.icon({
			    icon: 'fa-smile-o',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var star = L.AwesomeMarkers.icon({
			    icon: 'fa-star-o',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var shopping = L.AwesomeMarkers.icon({
			    icon: 'fa-shopping-cart',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var trophy = L.AwesomeMarkers.icon({
			    icon: 'fa-trophy',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var tachometer = L.AwesomeMarkers.icon({
			    icon: 'fa-tachometer',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			<% if @l1.any? %>
				<% @l1.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: adjust}).addTo(map)
				<% end%>
			<% end%>
			<% if @l2.any? %>
				<% @l2.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: asterisk}).addTo(map)
				<% end%>
			<% end%>
			<% if @l3.any? %>
				<% @l3.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: down}).addTo(map)
				<% end%>
			<% end%>
			<% if @l4.any? %>
				<% @l4.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: archive}).addTo(map)
				<% end%>
			<% end%>
			<% if @l5.any? %>
				<% @l5.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: circle}).addTo(map)
				<% end%>
			<% end%>
			<% if @l6.any? %>
				<% @l6.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: cloud}).addTo(map)
				<% end%>
			<% end%>
			<% if @l7.any? %>
				<% @l7.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: certificate}).addTo(map)
				<% end%>
			<% end%>
			<% if @l8.any? %>
				<% @l8.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: fighter_jet}).addTo(map)
				<% end%>
			<% end%>
			<% if @l9.any? %>
				<% @l9.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: coffee}).addTo(map)
				<% end%>
			<% end%>
			<% if @l10.any? %>
				<% @l10.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: cog}).addTo(map)
				<% end%>
			<% end%>
			<% if @l11.any? %>
				<% @l11.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: bug}).addTo(map)
				<% end%>
			<% end%>
			<% if @l12.any? %>
				<% @l12.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: beer}).addTo(map)
				<% end%>
			<% end%>
			<% if @l13.any? %>
				<% @l13.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: arrow}).addTo(map)
				<% end%>
			<% end%>
			<% if @l14.any? %>
				<% @l14.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: dot}).addTo(map)
				<% end%>
			<% end%>
			<% if @l15.any? %>
				<% @l15.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: plus}).addTo(map)
				<% end%>
			<% end%>
			<% if @l16.any? %>
				<% @l16.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: rocket}).addTo(map)
				<% end%>
			<% end%>
			<% if @l17.any? %>
				<% @l17.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: smile}).addTo(map)
				<% end%>
			<% end%>
			<% if @l18.any? %>
				<% @l18.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: star}).addTo(map)
				<% end%>
			<% end%>
			<% if @l19.any? %>
				<% @l19.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: shopping}).addTo(map)
				<% end%>
			<% end%>
			<% if @l20.any? %>
				<% @l20.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: trophy}).addTo(map)
				<% end%>
			<% end%>
			<% if @l21.any? %>
				<% @l21.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: tachometer}).addTo(map)
				<% end%>
			<% end%>


			var popup = L.popup();
			function onMapClick(e) {
				popup
					.setLatLng(e.latlng)
					.setContent("You clicked the map at " + e.latlng.toString())
					.openOn(map);
			}
			map.on('click', onMapClick);

	</script>
	
</div>

