<i><center><h1 id='title'>Welcome to the Drifter Project</h1></center></i>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">	    	
		<div id="map">	
			<script>
					<%= first_long = Location.first.longitude %>
					<%= first_lat = Location.first.latitude%>
					var map = new L.Map('map', {center: new L.LatLng(<%= first_lat%>-0.36093, <%= first_long%>+.26494), zoom: 16});
					//0.36093, -122.25803
		      		var googleLayer = new L.Google('SATELLITE');
		      		map.addLayer(googleLayer);
					 var adjust = L.AwesomeMarkers.icon({
					    icon: 'fa-adjust',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var asterisk = L.AwesomeMarkers.icon({
					    icon: 'fa-asterisk',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var down = L.AwesomeMarkers.icon({
					    icon: 'fa-hand-o-down',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var archive = L.AwesomeMarkers.icon({
					    icon: 'fa-archive',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var circle = L.AwesomeMarkers.icon({
					    icon: 'fa-circle',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var cloud = L.AwesomeMarkers.icon({
					    icon: 'fa-cloud',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var certificate = L.AwesomeMarkers.icon({
					    icon: 'fa-certificate',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var fighter_jet = L.AwesomeMarkers.icon({
					    icon: 'fa-fighter-jet',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var coffee = L.AwesomeMarkers.icon({
					    icon: 'fa-coffee',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var cog = L.AwesomeMarkers.icon({
					    icon: 'fa-cog',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var bug = L.AwesomeMarkers.icon({
					    icon: 'fa-bug',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var beer = L.AwesomeMarkers.icon({
					    icon: 'fa-beer',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var arrow = L.AwesomeMarkers.icon({
					    icon: 'fa-arrow-circle-o-right',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var dot = L.AwesomeMarkers.icon({
					    icon: 'fa-dot-circle-o',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var plus = L.AwesomeMarkers.icon({
					    icon: 'fa-plus-circle',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var rocket = L.AwesomeMarkers.icon({
					    icon: 'fa-rocket',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var smile = L.AwesomeMarkers.icon({
					    icon: 'fa-smile-o',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var star = L.AwesomeMarkers.icon({
					    icon: 'fa-star-o',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var shopping = L.AwesomeMarkers.icon({
					    icon: 'fa-shopping-cart',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var trophy = L.AwesomeMarkers.icon({
					    icon: 'fa-trophy',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					 var tachometer = L.AwesomeMarkers.icon({
					    icon: 'fa-tachometer',
					    prefix: 'fa',
					    markerColor:'orange'
					  });
					<% if @l0.any? %>
						<% @l0.each do |location| %>
						<% valid = location.valid_input.to_s %>
						<% name = location.drifter_name.to_s %>
						<% time = location.time.to_s %>
						<% speed = location.gps_speed %>
						  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: smile, riseOnHover:true}).addTo(map).bindPopup("<b>Hello I am a robot "+"<%= name %>"+". My current time reading was @ "+"<%= time %>"+". I am valid?="+"<%= (valid == true) %>"+". My current speed is "+"<%= speed %>"+"</b>").openPopup();
						<% end%>
					<% end%>
					
					var popup = L.popup();
					function onMapClick(e) {
						popup
							.setLatLng(e.latlng)
							.setContent("You clicked the map at " + e.latlng.toString())
							.openOn(map);
					}
					map.on('click', onMapClick);
			</script>
		</div>
    </div>
    <div id = 'sidebar' class="span3">
      <br><br><br><br>
      <p id ="explanation">
      	Drag around the map and zoom in or out using your mouse or the zoom bottom on the top right hand corner.
      <br><br>
      To begin, please select which drifter you would like to see</p>
      <div class="row-fluid">
          <div class="span4">
      		 <h4>Drifter1</h4>
		      <%= link_to image_tag("drifter.png"), test_path(:id => 1), class: "btn btn-inverse"%>
		      <h4>Drifter2</h4>
		      <%= link_to image_tag("drifter.png"),test_path(:id => 2), class: "btn btn-inverse"%>
		      <h4>Drifter3</h4>
		      <%= link_to image_tag("drifter.png"), test_path(:id => 3), class: "btn btn-inverse"%>
		      <h4>Drifter4</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 4), class: "btn btn-inverse"%>
			  <h4>Drifter5</h4>
			  <%= link_to image_tag("drifter.png"),test_path(:id => 5) ,class: "btn btn-inverse"%>
			  <h4>Drifter6</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 6), class: "btn btn-inverse"%>
          </div>
          <div class="span4">
          	  <h4>Drifter7</h4>
			  <%= link_to image_tag("drifter.png"),test_path(:id => 7), class: "btn btn-inverse"%>
			  <h4>Drifter8</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 8), class: "btn btn-inverse"%>
			  <h4>Drifter9</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 9), class: "btn btn-inverse"%>
			  <h4>Drifter10</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 10), class: "btn btn-inverse"%>
			  <h4>Drifter11</h4>
			  <%= link_to image_tag("drifter.png"),test_path(:id => 11), class: "btn btn-inverse"%>
			  <h4>Drifter12</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 12), class: "btn btn-inverse"%>
			  <h4>Drifter13</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 13), class: "btn btn-inverse"%>	  
          </div>
          <div class="span4">
          	<h4>Drifter14</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 14), class: "btn btn-inverse"%>
			  <h4>Drifter15</h4>
			  <%= link_to image_tag("drifter.png"),test_path(:id => 15), class: "btn btn-inverse"%>
			  <h4>Drifter16</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 16), class: "btn btn-inverse"%>
			  <h4>Drifter17</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 17), class: "btn btn-inverse"%>
			  <h4>Drifter18</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 18), class: "btn btn-inverse"%>
			  <h4>Drifter19</h4>
			  <%= link_to image_tag("drifter.png"), test_path(:id => 19), class: "btn btn-inverse"%>
			  <h4>Drifter20</h4>
			  <%= link_to image_tag("drifter.png"),test_path(:id => 20), class: "btn btn-inverse"%>
          </div>
      </div>
    </div>
</div>