<!-- /footer -->
<div data-role="footer" data-theme="b" data-position="fixed">
  You are currently in <%= params[:action] %>
  <br>
  <%if params[:action] == "live" %>
    Select more here:<%= link_to "Back to menu", menu_path %>
  <% elsif params[:action] == "drifter" %>
	  <% if mobile_device? %>
	    <%= link_to "Full Site", root_path(:mobile => 0 ), :rel => "external",class: "btn btn-success" %>
	  <% else %>
	    <%= link_to "Mobile Site", params.merge(:mobile => 1 ),class: "btn btn-success"%>
	  <% end %>
  <% end %>
  <%= link_to_function "Back", "history.back()" unless params[:action] == "drifter"%> 
</div>