<!DOCTYPE html>
<html>
  <head>
    <title>Leaflet Drifter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
    <%= stylesheet_link_tag href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" , media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js" , "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" , media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="dist/leaflet.awesome-markers.css">
    <script src="dist/leaflet.awesome-markers.js"></script>
    <%= javascript_include_tag "http://matchingnotes.com/javascripts/leaflet-google.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.2&sensor=false", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
 <body id="<%= params[:controller]+"-"+params[:action] %>">
    <%= render partial: "/layouts/header" %>
      <%= yield %>
    <%= render partial: "/layouts/footer" %>
  </body>
</html>
