<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'mobile', :media => "all"  if mobile_device? %>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <%= stylesheet_link_tag href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" , media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js" , "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" , media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="dist/leaflet.awesome-markers.css">
    <script src="dist/leaflet.awesome-markers.js"></script>
    <%= javascript_include_tag "http://matchingnotes.com/javascripts/leaflet-google.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.2&sensor=false", "data-turbolinks-track" => true %>

  </head>
  <body id="<%= params[:controller]+"-"+params[:action] %>">
    <%= yield %>
    <%= render partial: "/layouts/footer" %>
  </body>

</html>